[submodule "husarion_ws/src/ros_astra_launch"]
	path = husarion_ws/src/ros_astra_launch
	url = https://github.com/orbbec/ros_astra_launch.git
[submodule "rosbot_description"]
	path = rosbot_description
	url = https://github.com/husarion/rosbot_description.git
[submodule "ros_astra_launch"]
	path = ros_astra_launch
	url = https://github.com/orbbec/ros_astra_launch.git
[submodule "husarion_ws/src/rosbot_description"]
	path = husarion_ws/src/rosbot_description
	url = https://github.com/husarion/rosbot_description.git
[submodule "husarion_ws/src/rosbot_ekf"]
	path = husarion_ws/src/rosbot_ekf
	url = https://github.com/husarion/rosbot_ekf.git
