[submodule "husarion_ws/src/rosbot_ekf"]
	path = husarion_ws/src/rosbot_ekf
	url = git@github.com:husarion/rosbot_ekf.git
[submodule "husarion_ws/src/rosbot_description"]
	path = husarion_ws/src/rosbot_description
	url = https://github.com/husarion/rosbot_description.git
