[submodule "navigation/ros_workspace/src/rplidar_ros"]
	path = navigation/ros_workspace/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "husarion_ws/src/rosbot_description"]
	path = husarion_ws/src/rosbot_description
	url = https://github.com/husarion/rosbot_description.git
